#配置数据源
spring:
  datasource:
    druid:
      db-type: com.alibaba.druid.pool.DruidDataSource
      driverClassName: com.p6spy.engine.spy.P6SpyDriver
      url: jdbc:p6spy:postgresql://postgres:5432/konus_db?serverTimezone=Asia/Shanghai&characterEncoding=utf8&useSSL=false
      username: konus
      password: LGligang12345
      # 初始连接数，建议设置为与最小空闲连接数相同
      initial-size: 20
      # 最小空闲连接数，保持足够的空闲连接以应对请求
      min-idle: 20
      # 最大连接数，根据并发需求适当增加
      max-active: 50
      # 获取连接超时时间（毫秒），调整以满足响应时间要求
      max-wait: 3000
      # 启用KeepAlive机制，保持长连接
      keep-alive: true
      # 连接有效性检测间隔时间（毫秒），定期检查连接的健康状态
      time-between-eviction-runs-millis: 60000
      # 连接在池中最小生存时间（毫秒），确保连接在池中至少存在一段时间
      min-evictable-idle-time-millis: 300000
      # 连接在池中最大生存时间（毫秒），防止连接在池中停留过长
      max-evictable-idle-time-millis: 900000
      # 指明连接是否被空闲连接回收器(如果有)进行检验.如果检测失败,则连接将被从池中去除
      test-while-idle: true
      # 指明是否在从池中取出连接前进行检验,如果检验失败, 则从池中去除连接并尝试取出另一个
      test-on-borrow: true
      # 是否在归还到池中前进行检验
      test-on-return: false
      # 停用 com_ping 探活机制
      use-ping-method: false
      # 检测连接是否有效
      validation-query: SELECT 1
      # 配置监控统计
      webStatFilter:
        enabled: true
      stat-view-servlet:
        enabled: true
        url-pattern: /druid/*
        reset-enable: false
      filter:
        stat:
          enabled: true
          # 记录慢SQL
          log-slow-sql: true
          slow-sql-millis: 2000
          merge-sql: true
        wall:
          config:
            multi-statement-allow: true
  freemarker:
    check-template-location: false
  data:
    redis:
      repositories:
        enabled: false
  # 邮件配置
  mail:
    host: smtp.163.com
    username: leekone_lee_ai@163.com
    password: GWwpZ7tmVj9H6urR # 注意是授权码，不是密码
    default-encoding: UTF-8
    port: 465
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          ssl:
            enable: true
          socketFactory:
            class: javax.net.ssl.SSLSocketFactory
            port: 465
            fallback: false
          timeout: 5000
          connectiontimeout: 5000
        debug: false
  #  pid:
  #    file: /自行指定位置/eladmin.pid

  redis:
    #数据库索引
    database: 1
    host: redis
    port: 6379
    password:
    #连接超时时间
    timeout: 5000
    # 连接池配置
    lettuce:
      pool:
        # 连接池最大连接数
        max-active: 30
        # 连接池最大阻塞等待时间（毫秒），负值表示没有限制
        max-wait: -1
        # 连接池中的最大空闲连接数
        max-idle: 20
        # 连接池中的最小空闲连接数
        min-idle: 1

# 登录相关配置
login:
  #  是否限制单用户登录
  single-login: false
  # Redis用户登录缓存配置
  user-cache:
    # 存活时间/秒
    idle-time: 21600
  #  验证码
  code:
    #  验证码类型配置 查看 LoginProperties 类
    code-type: arithmetic
    #  登录图形验证码有效时间/分钟
    expiration: 2
    #  验证码高度
    width: 111
    #  验证码宽度
    height: 36
    # 内容长度
    length: 2
    # 字体名称，为空则使用默认字体
    font-name:
    # 字体大小
    font-size: 25

#jwt
jwt:
  header: Authorization
  # 令牌前缀
  token-start-with: Bearer
  # 必须使用最少88位的Base64对该令牌进行编码
  base64-secret: ZmQ0ZGI5NjQ0MDQwY2I4MjMxY2Y3ZmI3MjdhN2ZmMjNhODViOTg1ZGE0NTBjMGM4NDA5NzYxMjdjOWMwYWRmZTBlZjlhNGY3ZTg4Y2U3YTE1ODVkZDU5Y2Y3OGYwZWE1NzUzNWQ2YjFjZDc0NGMxZWU2MmQ3MjY1NzJmNTE0MzI=
  # 令牌过期时间 此处单位/毫秒 ，默认4小时，可在此网站生成 https://www.convertworld.com/zh-hans/time/milliseconds.html
  token-validity-in-seconds: 14400000
  # 在线用户key
  online-key: "online_token:"
  # 验证码
  code-key: "captcha_code:"
  # token 续期检查时间范围（默认30分钟，单位毫秒），在token即将过期的一段时间内用户操作了，则给用户的token续期
  detect: 1800000
  # 续期时间范围，默认1小时，单位毫秒
  renew: 3600000

#是否允许生成代码，生产环境设置为false
generator:
  enabled: false

#是否开启 swagger-ui
swagger:
  enabled: false

# 文件存储路径
file:
  mac:
    path: ~/file/
    avatar: ~/avatar/
  linux:
    path: /home/eladmin/file/
    avatar: /home/eladmin/avatar/
  windows:
    path: C:\eladmin\file\
    avatar: C:\eladmin\avatar\
  # 文件大小 /M
  maxSize: 100
  avatarMaxSize: 5

# 亚马逊S3协议云存储配置
#支持七牛云，阿里云OSS，腾讯云COS，华为云OBS，移动云EOS等
amz:
  s3:
    # 地域
    region: test
    # 地域对应的 endpoint
    endPoint: https://s3.test.com
    # 访问的域名
    domain: https://s3.test.com
    # 账号的认证信息，或者子账号的认证信息
    accessKey: 填写你的AccessKey
    secretKey: 填写你的SecretKey
    # 存储桶（Bucket）
    defaultBucket: 填写你的存储桶名称
    # 文件存储路径
    timeformat: yyyy-MM

server:
  port: 8089
  http2:
    # 启用 HTTP/2 支持，提升传输效率
    enabled: true
  compression:
    # 启用 GZIP 压缩，减少传输数据量
    enabled: true
    # 需要压缩的 MIME 类型
    mime-types: text/html, text/xml, text/plain, application/json
    # 最小压缩响应大小（字节）
    min-response-size: 1024

mybatis-plus:
  configuration:
    # 关闭二级缓存
    cache-enabled: false
    # 设置本地缓存作用域
    local-cache-scope: SESSION



task:
  pool:
    # 核心线程池大小
    core-pool-size: 10
    # 最大线程数
    max-pool-size: 30
    # 活跃时间
    keep-alive-seconds: 60
    # 队列容量
    queue-capacity: 50

#邮箱验证码有效时间/秒
code:
  expiration: 300

#密码加密传输，前端公钥加密，后端私钥解密
rsa:
  private_key: MIIBUwIBADANBgkqhkiG9w0BAQEFAASCAT0wggE5AgEAAkEA0vfvyTdGJkdbHkB8mp0f3FE0GYP3AYPaJF7jUd1M0XxFSE2ceK3k2kw20YvQ09NJKk+OMjWQl9WitG9pB6tSCQIDAQABAkA2SimBrWC2/wvauBuYqjCFwLvYiRYqZKThUS3MZlebXJiLB+Ue/gUifAAKIg1avttUZsHBHrop4qfJCwAI0+YRAiEA+W3NK/RaXtnRqmoUUkb59zsZUBLpvZgQPfj1MhyHDz0CIQDYhsAhPJ3mgS64NbUZmGWuuNKp5coY2GIj/zYDMJp6vQIgUueLFXv/eZ1ekgz2Oi67MNCk5jeTF2BurZqNLR3MSmUCIFT3Q6uHMtsB9Eha4u7hS31tj1UWE+D+ADzp59MGnoftAiBeHT7gDMuqeJHPL4b+kC+gzV4FGTfhR9q3tTbklZkD2A==